.ingredients__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin-left: 30px;
}

.try__button__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}