#stirfry__gif {
    height: 80px;
    width: 80px;
}

#app__name {
    margin-left: 60px;
}

.navbar__container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10%;
    padding-bottom: 10px;
    background-color:  #3FC060;
}