.pantry__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 400px;
}

.table__container {
    height: 100%;
}