.recipes__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.ingredients__container__plus {
    height: 7%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipes__container {   
    width: 90%;
    height: 90%;
}

.recipe__container {
    border: solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.food__image__container {
    width: 20%;
}

.food__image {
    width: 100%;
}

.raw__data__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 68%;
}

.recipe__name {
    width: 98%;
    height: 30px;
    font-weight: bolder;
    font-size: 20px;
}

.ingredients__container {
    padding: 20px;
    overflow:hidden;
    height: 50%;
    width: 97%;
    max-height: 115px;
}

.icons__container {
    display: flex;
    justify-content: space-around;
    width: 97%;
}

.icon__data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.recipe__buttons__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 10%; 
}

.view__button {
    display: flex;
    justify-content: center;
    align-items: center;
}



