.user__input__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 30%;
    padding: 20px;
}

.items__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.home__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.input__and__buttons__container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons__container {
    width: 100%;
    height: 40%;
}